<div class="header">Add New Store</div>

<% unless flash[:error].blank? %>
<div class="error"><%= flash[:error] %></div>
<% end %>

<% form_for :store, @store, :url => {:action => "create"}, :html => {:id => "store_form"} do |f| %>
  <%= label_tag(:store_name, "Store Name", :class => "label") %>
  <%= f.text_field :name, :class => "field" %>
  <%= label_tag(:store_city, "Store City", :class => "label") %>
  <%= f.text_field :city, :class => "field" %>
  <%= submit_tag "Create Store", :class => "submit" %>
<% end %>

<div class="back"><%= link_to "Back", :controller => "store", :action => "index" %></div>
