<div class="header">Add new store</div>

<div><%= flash[:error] unless flash[:error].blank? %></div>

<% form_for :store, @store, :url => { :action => "create" } do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :city %>
  <%= submit_tag "Create Store" %>
<% end %>

<div><%= link_to "Back", :controller => "store", :action => "index" %></div>
