<div class="header">Store Information</div>

<div><%= flash[:notice] unless flash[:notice].blank? %></div>

<div><%= @store.id %></div>
<div><%= @store.name %></div>
<div><%= @store.city %></div>
<div><%= @store.created_at %></div>
<div><%= @store.updated_at %></div>

<div><%= link_to "Back", :controller => "store", :action => "index" %></div>
